.um-debug .button > label {
	vertical-align: inherit;
}
.um-debug input[type="number"],
.um-debug input[type="text"]{
	min-height: 28px;
}

.umd-dump{
	background-color: white;
	box-sizing: border-box;
	border-top: 2px solid darkred;
	bottom: 0px;
	height: 2em;
	left: 0px;
	overflow-y: hidden;
	padding: 0.4em;
	position: fixed;
	width: 100%;
	z-index: 9991;
}
.umd-dump:hover{
	height: 60%;
	overflow-y: auto;
}
.umd-dump > p{
	color: darkred;
	font-weight: bold;
	margin: 0em;
}